#sidebarL
{
float:left;
background: gray;
height:600px;
width: 200px;
margin-top: -65px;
}

#Ifsc
{
	height:100px;
	width: 175px;
	margin-left: 10px;
}

#Ifc
{
	height:100px;
	width: 175px;
	margin-left: 10px;
	margin-top: 15px;
}

#sidebarR
{
float:right;
background: gray;
height:600px;
width: 200px;
margin-top: -105px;
}
