<div class="container-fluid" id="user-content">
  <div class="row">
    <div class="col-md-5">
      <div class="panel-group">

        <div class="panel-heading">
          <p class="h5">Informações Pessoais</p>
        </div>

        <div class="panel-body">
          <ul class="">
            
          </ul>
        </div>
        
      </div>
    </div>
  </div>   
</div>